<?xml version="1.0"?>
<model>
  <name>MAE 275 Drone</name>
  <version>1.0</version>
  <sdf version="1.5">mae275drone.sdf</sdf>

  <author>
   <name>Lorenz Meier</name>
   <email>lorenz@px4.io</email>
  </author>

  <description>
    This is a model of the Yuneec Typhoon H480, adapted for MAE275 Spring 2022 Project at UC Davis
  </description>
</model>
